{% extends 'base.html.twig' %}

{% block body %}
    Lista Użytkowników :)
    <br>
    <a href="{{ path('user_logout') }}" title="Wyloguj się">
        <span><strong>Wyloguj sie</strong></span>
    </a>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}
